body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #323045;
	max-width: 100%;
	transition: 0.5s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
	scroll-behavior: smooth;
}

.home { 
  background: url("./components/content/rachel.jpeg");
	background-size: cover;
  position: absolute;
	height: 90%;
	width: 100%;

	/* font-family: 'Teko', sans-serif; */
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;	
}

.experience {
	border: 1px solid white;
	color: white;
	z-index: -1;
	max-width: 95%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 1em;
}

/* .experience .expList {
	border-right: 1px solid white;
} */

.experience a {
	color: white;
}
.experience a:hover{
	color: #4287f5;
	text-decoration: none;
}

.WorkExp {
	border-left: 1px solid white;
	padding-left: 4rem;
}

#header h1 {
	font-size: 5em;
}

#header h3, #header hr {
	font-size: 2rem;
	padding-top: 0%;
}

hr {
	width: 25vw;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* Adjusts the link clicking */
/* h2::before {
	display: block; 
	content: " "; 
	margin-top: -10rem; 
	height: 10rem; 
	visibility: hidden; 
	pointer-events: none;
} */

#picFrame {
	max-width: 100%;
}

.container {
	/* border: 1px solid white; */
	color: white;
	/* z-index: -1; */
	max-width: 95%;
	/* padding-top: 2rem;
	padding-bottom: 2rem; */
	font-size: 1em;
}

/* .container h2 {
	text-align: center;
	padding: 1rem auto;
	font-size: 4em;
} */

.portfolio {
	text-align: center;
}

img{ 
	width: 100%
}

.col {
	max-width: 100%;
}

footer {
	position: sticky;
	text-decoration: none;
}

#contactContent{
	text-align: center;
	font-size: 3em;
}

/* Mobile screen */
@media screen and (max-width : 550px) {
	.jumbotron{
		text-align: center;
		padding: 5em 0 0 0 ;
	}
	.jumbotron h1{
		padding-left: 0;
	}

	hr{
		width: 10em;
	}

	#profilePic {
		width: 10rem;
		margin-left: 25%;
	}
}

/* NAVBAR */
nav {
	background-color: #323045;
}

.fixed-top {
	padding-bottom: 0;
}

.navbar .collapse .navbar-nav>li>a{
	color: white;
}

.navbar .navbar-brand {
	color: white;
}

.socialDiv li {
	float: right;
}


footer a:hover {
	background-color: initial;
	color: white;
}

#notfound {
	color: red;
	text-align: center;

}

#mia {
	width: 50em;
}